<%content_for :style do %>
  <link href="../css/styles.css" rel="stylesheet">
<%end%>

<% content_for :nav do %>
<nav class="navbar navbar-fixed-top header">
  <div class="col-md-12">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Bookstore Web Site</a>
    </div>
  </div>
</nav>
<div class="navbar navbar-default" id="subnav">
  <div class="col-md-12">
    <div class="navbar-header">
      <a href="#" style="margin-left:15px;" class="navbar-btn btn btn-default btn-plus dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-bullhorn" style="color:#FFD829;"></span> Selling <small><i class="glyphicon glyphicon-chevron-down"></i></small></a>
      <ul class="nav dropdown-menu">
        <li><a href="buying"><i class="glyphicon glyphicon-shopping-cart" style="color:#1111dd;"></i> Buying</a></li>
        <li class="nav-divider"></li>
        <li><a href="selling"><i class="glyphicon glyphicon-bullhorn" style="color:#FFD829;"></i> Selling</a></li>
        <li class="nav-divider"></li>
        <li><a href="/sales"><i class="glyphicon glyphicon-tag" style="color:#6f5499;"></i> View Sales</a></li>
        <li class="nav-divider"></li>
        <li><a href="/offers"><i class="glyphicon glyphicon-inbox" style="color:#6f5499;"></i> View Offers</a></li>
        <li class="nav-divider"></li>
        <li><a href="https://websso.wwu.edu/cas/logout"><i class="glyphicon glyphicon-exclamation-sign" style="color:#dd1111;"></i> Logout</a></li>
      </ul>
      <p style="display:inline;">Logged in as: <span class="username"><%=defined?(@user) ? @user : "Guest" %></span></p>
    </div>
  </div>
</div>
<%end%>

<!--main-->
<div class="container" id="main">
  <div class="row" align="center">
    <div class="col-md-6 col-sm-8 col col-sm-offset-3">
      <div class="well">
        <h3>Sell your book<br/><br/><span style="font-size:65%">Enter as much information as you can</span></h3>
        <% if form.failed? %>
          <h3 style="color:red;">Errors:</h3>
          <% if form.failed_on?(:isbn) %>
          <p style="color:red;">Isbn is invalid.</p>
          <% end %>
          <% if form.failed_on?(:title) %>
          <p style="color:red;">You must enter a valid title.</p>
          <% end %>
          <% if form.failed_on?(:author) %>
          <p style="color:red;">You must identify the author.</p>
          <% end %>
          <% if form.failed_on?(:condition) %>
          <p style="color:red;">You must enter a condition.</p>
          <% end %>
          <% if form.failed_on?(:price) %>
          <p style="color:red;">You must enter a valid sale price.</p>
          <% end %>
        <% end %>
        <form action="/selling" method="post" style="max-width:500px;">
          <div class="input-group" style="max-width:470px;">
            <input type="text" class="form-control" placeholder="ISBN" name="isbn" id="isbn" style="width:90%">
            <input type="text" class="form-control" placeholder="Title" name="title" id="title" style="width:90%">
            <input type="text" class="form-control" placeholder="Author" name="author" id="author" style="width:90%">
            <select class="form-control" id="condition" name="condition" style="width:90%">
              <option value="" disabled selected>Condition (Select One)</option>
              <option value="perfect">Perfect</option>
              <option value="good">Good</option>
              <option value="fair">Fair</option>
              <option value="poor">Poor</option>
              <option value="very poor">Very Poor</option>
            </select>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="text" class="form-control" placeholder="Sell Price" name="price" id="price">
              <span class="input-group-addon">.00</span>
            </div>
            <button class="btn btn-default btn-primary" style="margin-top:10px;" type="submit"><i class="glyphicon glyphicon-edit"></i> Sell</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
